/*-------------------------THARUSHI-CUSTOMER SIGN UP CSS-----------------------------------------*/



/*div class container css code */
.th-container{
  text-align: center;
  background: #C4C4C4;
  border-radius: 90px 0px;
  margin-top: 25px;
  margin-left: 5%;
  width: 90%;

}

/*css code of form title*/
#title-th{
  text-align: center;
  font-family: sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 36px;
  margin-top: 25px;
  color: #021257;
}

/*css code of form text elements*/
.nameth{
  text-align: right;
  font-family: sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 15px;
  color: #021257;
  
  }
  
#lnameth{
      text-align: left;
      font-family: sans-serif;
      font-style: normal;
      font-weight: bold;
      font-size: 15px;
      color: #021257;
      
      }

/*css code of form input boxes*/    
.th-cus-form-input{
      width: 80%;
      padding:10px;
      display: inline-block;
      border: none;
      background: #ffffff;
  }

/*styling span class for required "*" symbol with CSS*/
.th-required{
    width:5px;
    color:#ED1F28;
}

/*--------------------------------------------------------------------------------------------------------------------------------------------*/
