
/*-----------------------------------------------THARUSHI VIEW EMPLOYEE,SUPPLIER,CUSTOMER RECORD TABLES-----------------------------------------------------*/
 
 /*table container CSS*/
 .th-table-container1{
    padding:0 10%;
    margin:20px auto 0; /*Styling container CSS*/
    font-family: sans-serif;
 }
 
 /*th-add-new class styling CSS*/
 .th-add-new-button{
    margin-bottom: 5px;
    float: right;
 }
 
 /*table name CSS*/
 .th-th2{
    text-align: center;
    text-decoration: none;
    font-size: 36px;
    margin-bottom: 5px;
 }
 
 /*table CSS*/
 .th-user-table {
    width:100%;
    border:0px;
    border-collapse: collapse;
 }
 
 /*table head styling CSS*/
 .th-user-table thead{
    background-color: #021257;
    color:#ffffff;
 }
 
 /*table properties styling CSS*/
 .th-user-table thead tr th{
    padding:10px;
    letter-spacing: 0.30px;
    font-size: 14px;
     font-weight: bold;
    text-align: center;
    text-decoration: none;
    border:1px solid #ffffff;
    border-collapse: collapse;
 }
 
 /*table values styling CSS*/
 .th-user-table tbody tr td{
    padding:10px;
    letter-spacing: 0.30px;
    font-size: 14px;
     font-weight: bold;
    text-align: center;
    text-decoration: none;
    border:1px solid #ffffff;
    border-collapse: collapse;
    background-color: #c4c4c4;
    color:#000;
 }
 
 
 /* icon decoration*/
 .th-svg-icons{
   width: 16px;
   height: 16px;
   border: none;
   cursor: pointer;
   background-color: transparent;
 }

/* icon as buttons decoration*/
 .th-button-icon{
    border:none;
    height:16px;
    width:16px;
    background-color: #c4c4c4;
 }

 .th-button-icon:hover{
   background-color: #ffffff;
 }
 

 /*-------------------------------------------------------------------------------------------------------------------------------------*/

 /*-----------------------------------------------THARUSHI ADD AND UPDATE EMPLOYEE & SUPPLIER RECORDS -----------------------------------*/
 .th-addemployee-conatiner{
   border-radius: 40px;
   width: 750px;
   background-color: #c4c4c4;
   padding: 20px;
   font-family:sans-serif;
   margin:auto;
 }
 
 .th-employee-form-title{
     float:left;
     text-align:center;
     width:90%;
     font-size:17px;
     font-weight: bold;
 }
 
 .th-emp-close{
   float: right;
   width: 10%;
   padding-top: 10px;
 }
 
 .th-emp-close-button{
   width:20px;
   padding:10px;
   cursor:pointer;

   color:#ff0000;
 }
 
 .th-emp-close-button:hover {background:#aaaaaa;}
 
 .th-emp-row:after {
   content: "";
   display: table;
   clear: both;
 }
 
 .th-user-label{
   padding: 10px 10px 10px 0;
   display: inline-block;
   color:#000000;
   font-size: 14px;
   font-weight: 700;
 }
 
 .th-emp-form-label{
  float: left;
  width: 25%;
  margin-top: 6px;
 
 }
 
 .th-emp-form-input{
   float: right;
   width: 75%;
   margin-top: 6px;
 }
 
 .th-emsu-input{
   width: 100%;
   padding: 12px;
   border: 1px solid #ffffff;
   border-radius: 4px;
   box-sizing: border-box;
   resize: vertical;
 }
 
 .th-emp-addb{
   display: flex;
   justify-content: center;
   text-align: center;
   margin-top:15px;
 }
 

 /*for the container with content to fit any screen below 800px*/
 @media screen and (max-width: 800px){
   .th-addemployee-conatiner{
     overflow-x: scroll;
     width: 100%;
   }
 
   .th-emp-form-label,.th-emp-form-input,.th-emp-add-button {
     width: 100%;
     margin-top: 5px;
   }
 
   .th-user-label{/*for form labels*/
     font-size: 16px;
     font-weight: 700;
   }
 
   .th-emsu-input{ /*for form input types*/
     display: flex;
     justify-content: center;
     padding-top: 0%;
     }
    
    .th-delete-record-container{
      width:100;
    }

 }
 
 /*-------------------------------------------------------------------------------------------------------------------------------------*/

 /*-----------------------------------------------THARUSHI DELETE EMPLOYEE & SUPPLIER RECORDS ------------------------------------------*/
 
 /*deleting records CSS*/
 .th-delete-record-container{
  border-radius: 45px ;
  width: 50%;
  background-color: #c4c4c4;
  padding: 30px;
  font-family:sans-serif;
  margin:auto;
  margin-top: 100px;
}


/*delete record message CSS*/
.th-delete-message{
  display:flex;
  justify-content: center;
  padding-top:40px;
  padding-bottom:40px;
  font-size:20px;
  font-weight: bolder;
  color:#021257;
}

/*-------------------------------------------------------------------------------------------------------------------------------------*/

/*--------------------------------------CSS for "ADD NEW" button related JS in new supplier& new employee form----------------------------------*/
#th-add-employee,#th-add-new-supplier{
  display: none;
  position: absolute;
  top: 10%;
}

/*--------------------------------------CSS for "UPDATE" icon button related JS in  supplier& employee record table-----------------------------*/
#th-update-employee,#th-update-supplier{
  display: none;
  position: absolute;
  top: 10%;
}

/*--------------------------------------CSS for "DELETE" icon button related JS in  supplier & employee record table-----------------------------*/
#th-delete-employee,#th-delete-supplier{
  display: none;
  position: absolute;
  top: 10%;
  left:15%;
}

/*-------------------------------------------------------------------------------------------------------------------------------------*/
