
@media (max-width: 800px) {
    /* For mobile/tablet view: */

   .AboutUs{
            width:65%;
            line-height: 4vw;
        }
    .LandingAppButton {width:35%;}

    .sec5-0 {width:20%;}
    
    .sec5-1 {
        width:80%;}

    .sec5-text, .sec5-text a{
        font-size: 5px;
        
    }

}


#myVideo{
    width: 100%;
}

.openingVideo{
    padding:0px;
}

.section1, .section2, .section5{
    background-color:#021257;
    color: cornsilk;
}

.section2{
    border-radius: 0px 0px 140px 0px ;
}

.AboutUs{
    padding-top:3vw;
    padding-left: 4vw;
    text-align: left;
    line-height: 3vw;
    text-align: center;
}

.Container-LandingButton{
    padding-top: 50px;
}

.LandingAppButton{
    text-align: center;
 }

.bookButton{
    max-width:60%;
    width:auto;
    height:auto;
    border-radius: 50%;
    cursor: pointer;
}


.servicesTitle{
    padding-top: 5vw;
    text-align: center;

}

/*************our services - slideshow***************/

#displayNone{
    display: none;
}

/* Slideshow container */
.servicesSlideshow-container {
    text-align: center;
    position: relative;
    margin: auto;
    min-height: 60px;
  }
  
  /* Next & previous buttons */
  .prev, .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    padding: 16px;
    margin-top: -22px;
    color: white;
    font-weight: bold;
    font-size: 3vw;
    transition: 0.6s ease;
    user-select: none;
    border-radius: 0 3px 3px 0;
    background-color: rgba(0,0,0,0.8);
  }
  

/* Position the "prev button" to the left */
.prev {
    left: 0;
}
  

/* Position the "next button" to the right */
.next {
right: 0;
}


/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
background-color: #ED1F28;
}


/* The dots/bullets/indicators */
.dot {
cursor: pointer;
height: 15px;
width: 15px;
margin: 0 2px;
background-color: #bbb;
border-radius: 50%;
display: inline-block;
transition: background-color 0.6s ease;
}

.active, .dot:hover {
background-color: #717171;
}

/* Fading animation */
.fade {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 1.5s;
    animation-name: fade;
    animation-duration: 1.5s;
  }
  
  @-webkit-keyframes fade {
    from {opacity: .4} 
    to {opacity: 1}
  }
  
  @keyframes fade {
    from {opacity: .4} 
    to {opacity: 1}
  }
  
/*************our services - slideshow end***************/

.section4{
    bottom: 0;
    background-color: #021257;
    text-align:center;
    color: cornsilk;
    border-radius: 140px 0px 0px 0px ;
}


.sec5-text, .sec5-text a{
    text-decoration: none;
    color: cornsilk;
    font-size: 12.5px;
    
}