@media (max-width:800px){

    .promotionsNull{
        display: none;
    }
}

.promoAlign{
    display: flex;
    justify-content: end;
}

.PromoTitle{
    text-align: center;
    margin-top: 5px;
    margin-bottom: 30px;
}

.promoDeets{
    padding: 15px;
    line-height: 25px;
    background-color:#FFFAFA;
    border: 1px solid #C4C4C4;
}

.promotionBanner{
    width: 100%;
    height: 150px;
}

.bookAppInPromo{
    max-width: 100px;
    width:auto;
    height:auto;
    border-radius: 46%;
    cursor: pointer;
}