.instructions{
    background-color:#efeff5;
    border: 2px solid silver; 
    color:#041b64;
}

.dateCard{
    padding:10px;
    width:250px;
    height:170px;
    background-color:#FFFAFA;
    border: 2px solid silver;
    margin-left:5px;
    margin-top:5px;
    border-radius:20px;
}
.today{
    background-color:#9cadfc;
}
.availDate{
    
    text-align:center;
    height: 30px;
}
.bookButton{
    border-color:#63bb63;
    color:rgb(40, 5, 97);
    width:180px;
    text-align:center;
    border-radius:5px;
    background-color:#62cf62;
}

.closed{
    border-color:#ff471a;
    color:rgb(40, 5, 97);
    width:180px;
    text-align:center;
    border-radius:5px;
    background-color:#ff471a;
    cursor:text;
}

.timeslotsListed{
    margin-left: auto;
    margin-right: auto;
}
.timeslotsListed td{
    text-align:center;
}
